*           text=auto eof=crlf

*.cs        text eol=crlf diff=csharp
*.cshtml    text diff=html
*.csx       text diff=csharp
*.sln       text eol=crlf merge=union
*.csproj    text merge=union

image/**    binary
